<% layout('layouts/boilerplate.ejs') %>
<!-- <section class="packages row-md">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">Explore Our Packages</h1>

    <% for(let item of packages){ %>
    <article class="postcard dark blue">
      <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="<%= item.img %>" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue"><a href="#"><%=item.name%></a></h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt"><%= item.desc %></div>
        <h1 class="postcard__title blue">
          <a href="#">Rs <%=item.price%></a>
        </h1>
        <ul class="postcard__tagbox">
          <li class="tag__item">
            <i class="fas fa-tag mr-2"></i
            ><a href="/home/<%=item._id%>">Details</a>
          </li>
        </ul>
      </div>
    </article>
    <%}%>
  </div>
</section> -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
/>
<div class="container">
  <h3 class="pb-3 mb-4 font-italic border-bottom">Card Styles</h3>
  <div class="row">
    <% for(let item of packages){ %>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"
            ><%=item.name%></strong
          >

          <div class="mb-1 text-muted small">Nov 12</div>
          <p class="card-text mb-auto"><%=item.desc%></p>
          <a
            class="btn btn-outline-primary btn-sm"
            role="button"
            href="http://www.jquery2dotnet.com/"
            >Continue reading</a
          >
        </div>
        <img
          class="card-img-right flex-auto d-none d-lg-block"
          alt="Thumbnail [200x250]"
          src="<%= item.img %>"
          style="width: 200px; height: 250px"
        />
      </div>
    </div>
    <% } %>
  </div>
</div>
