<% layout('layouts/boilerplate.ejs') %>
<header class="row">
  <div class="img-responsive" id="banner-image">
    <div class="home_header_info" id="header">
      <h1
        class="typewrite"
        data-period="2000"
        data-type='[ "HABIBI Come to India ", "Adventure awaits, go find it.", "Don’t be a tourist, be a traveler." ]'
      ></h1>
    </div>
  </div>
</header>

<!-- <div class="packages row">
  <% for(let item of packages){ %>
  <div class="product-card col-lg-4 mb-5">
    <div class="card text-center shadow mt3 mx-auto" style="width: 18rem">
      <img src="<%= item.img %>" class="card-img-top img" alt="img" />
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <h3 class="card-title"><%= item.price %></h3>
        <a href="#!" class="btn btn-primary">View Package</a>
      }"kjhgfd` 
      </div>
    </div>
  </div>
  <% } %>
</div> -->


  <section class="dark packages">
    <div class="container py-4">
      <h1 class="h1 text-center" id="pageHeaderTitle">Explore Our Packages</h1>

      <% for(let item of packages){ %>
      <article class="postcard dark blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="<%= item.img %>" alt="Image Title" />
        </a>
        <div class="postcard__text">
          <h1 class="postcard__title blue"><a href="#"><%=item.name%></a></h1>
          <div class="postcard__subtitle small">
            <time datetime="2020-05-25 12:00:00">
              <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
            </time>
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt"><%= item.desc %></div>
          <h1 class="postcard__title blue">
            <a href="#">Rs <%=item.price%></a>
          </h1>
          <ul class="postcard__tagbox">
            <li class="tag__item">
              <i class="fas fa-tag mr-2"></i><a href="/home/<%=item._id%>">Details</a>
            </li>
          </ul>
        </div>
      </article>
      <%}%>
    </div>
  </section>

<section class="footer container-fluid">
  <div class="footer-back container-fluid">
    <div class="strip row d-flex flex-justify-content-center">
      <div class="col-6 d-flex flex-row-reverse">01632-22345</div>
      <div class="col-6 d-flex">| DestinationDreams@gmail.com</div>
    </div>
    <div class="footer-2 container-fluid"></div>
  </div>
</section>
